.s--spinner {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(127,127,127,.50);
    z-index: 10000;
    /* d-flex */
    display: -ms-flexbox !important;
    display: flex !important;
    /*justify-content-center */
    -ms-flex-pack: center !important;
    justify-content: center !important;
    /* align-items-center */
    -ms-flex-align: center !important;
    align-items: center !important;

}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .s--spinner  .sk-three-bounce {
        display: table-cell;
    }
}

