@import "../../../../../../theme/node_modules/bootstrap/scss/functions";
@import "../../../../../../theme/scss/bootstrap/variables";
@import "../../../../../../theme/node_modules/bootstrap/scss/variables";


table.dataTable {
  thead {
    .sorting_asc {
      background-image: none;
    }
    .sorting_desc {
      background-image: none;
    }
    .sorting {
      background-image: none;
    }
    th {
      color: theme-color('secondary');
      font-size: 0.75rem;
      font-weight: 600;
      padding-top: 16px;
      padding-bottom: 4px;
      border-bottom: none;
    }
  }
  tbody {
    tr:first-child {
      td:first-child {
        border-radius: 6px 0;
      }
      td:last-child {
        border-radius: 0 6px;
      }
    }
    tr {
      td:first-child {
        border-left: 1px solid #C2CFD6;
      }
      td:last-child {
        border-right: 1px solid #C2CFD6;
      }
      td {
        padding-top: 16px;
        padding-bottom: 16px;
        border-top: 1px solid #C2CFD6;
      }
      border-radius: 6px 6px;
    }
    tr:last-child {
      td:first-child {
        border-radius: 0 0 0 6px;
      }
      td:last-child {
        border-radius: 0 0 6px 0;
      }
      td {
        border-bottom: 1px solid #C2CFD6;
      }
    }
  }
  td.dataTables_empty {
    border: none !important;
  }
}

table.dataTable.no-footer {
  border-bottom: none;
}

.dataTables_paginate {
  .btn.previous {
    margin-right: 8px;
  }
  .btn.next {
    margin-left: 8px;
  }
}

.dataTables_info, .dataTables_paginate {
  margin-top: $spacer;
}

.dataTables_paginate {
  span {
    .btn {
      -webkit-border-radius: 1.5rem;
      -moz-border-radius: 1.5rem;
      border-radius: 1.5rem;
    }
  }
}

.dataTables_filter {
  display: none;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 0;
  overflow: auto;
}

.dataTables_paginate {
  display: none;
}

.text-decoration-line-through {
  text-decoration: line-through !important;
}

tr.removed .checkbox+label {
  visibility: hidden;
}

tr.removed .btn {
  visibility: hidden;
}
